# Server Configuration
PORT=xxxxxxxxxxxxxx
NODE_ENV=xxxxxxxxxxxxxx

# Database
MONGO_URI=xxxxxxxxxxxxxx
MONGO_DB=xxxxxxxxxxxxxx

# Security
JWT_SECRET=xxxxxxxxxxxxxx
JWT_EXPIRE=xxxxxxxxxxxxxxx

# Payment Gateway
RAZORPAY_KEY_ID=xxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxxxxxx

# Real-time & Caching
REDIS_URL=xxxxxxxxxxxxxx

# Email & Client
EMAIL_USER=xxxxxxxxxxxxxx
EMAIL_PASS=xxxxxxxxxxxxxx
CLIENT_URL=xxxxxxxxxxxxxx