@import 'tailwindcss';

:root {
  --color-primary-light: #3b82f6;
  --color-primary-main: #2563eb;
  --color-primary-dark: #1d4ed8;
  
  --color-secondary-light: #fbbf24;
  --color-secondary-main: #f59e0b;
  --color-secondary-dark: #d97706;
  
  --color-tertiary-light: #6366f1;
  --color-tertiary-main: #4f46e5;
  --color-tertiary-dark: #4338ca;
  
  --color-neutral-gray-50: #f9fafb;
  --color-neutral-gray-100: #f3f4f6;
  --color-neutral-gray-200: #e5e7eb;
  --color-neutral-gray-300: #d1d5db;
  --color-neutral-gray-400: #9ca3af;
  --color-neutral-gray-500: #6b7280;
  --color-neutral-gray-700: #374151;
  --color-neutral-gray-900: #111827;
  --color-neutral-white: #ffffff;
  
  --color-status-error: #ef4444;
  --color-status-success: #10b981;
}

@layer utilities {
  .bg-primary {
    @apply bg-[#2563eb];
  }
  .bg-primary-light {
    @apply bg-[#3b82f6];
  }
  .bg-secondary {
    @apply bg-[#f59e0b];
  }
  .bg-secondary-light {
    @apply bg-[#fbbf24];
  }
  .bg-tertiary {
    @apply bg-[#4f46e5];
  }
  
  .text-primary {
    @apply text-[#2563eb];
  }
  .text-primary-light {
    @apply text-[#3b82f6];
  }
  .text-secondary {
    @apply text-[#f59e0b];
  }
  .text-secondary-light {
    @apply text-[#fbbf24];
  }
  .text-tertiary {
    @apply text-[#4f46e5];
  }
  
  .border-primary {
    @apply border-[#2563eb];
  }
  .border-primary-light {
    @apply border-[#3b82f6];
  }
  .ring-primary {
    @apply ring-[#3b82f6];
  }
  
  .shadow-primary {
    @apply shadow-[#2563eb]/40;
  }
}
